[class*="col-"] {
    margin-bottom: 15px;
}

.container {
	padding: 0 !important;
}

#app > section {
	padding: 50px;
}

#app > header, #app > footer {
	padding: 20px 50px;
}

a {
	color: rgb(129, 129, 129);
}

a:hover {
	text-decoration: none;
}

#app {
	background-color: #fefefe;
	position: relative;
}

.avatar {
	background-color: #fff;
	width: 180px; 
	height: 180px; 
	background: url('../imgs/IMG_20190809_163748.jpeg');
	background-size: cover;
	background-position: center center;
}

.line::before {
	content: '';
	display: block;
	width: 150px;
	height: 5px;
	background-color: #948ef7;
	margin-bottom: 20px;
	border-radius: 10px;
}

.line2 {
	content: '';
	display: block;
	width: 300px;
	height: 10px;
	background-color: #19888d;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

.bg-wood {
	background: url('../imgs/balazs-szekely-8k-wallpaper.jpg');
	background-attachment: fixed;
	background-size: cover;
}

.bg-gray {
	background-color: #F7F7F7;
}

.bg-ungu {
	background-color: #948ef7;
	color: #fff;
}

.card-deck > .card {
	transition: .5s;
}
.card-deck > .card:hover {
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8) !important;
}