---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi! saya Akhdan Musyaffa Firdaus, seorang pengembang perangkat lunak dengan pengalaman lebih dari lima tahun di bidang Software Engineering. Saat ini, saya sedang menempuh pendidikan Magister Informatika dengan spesialisasi <strong>Cybersecurity</strong> di Institut Teknologi Bandung. Saya memiliki ketertarikan khusus terhadap devsecops, juga teknologi blockchain yang aman dan terdesentralisasi.
      <br/><br/>Sebagai <strong>Co-Founder Bandung Semesta Teknologi (BTEKLabs)</strong>, saya bertanggung jawab atas pengelolaan sumber daya manusia serta memimpin pengembangan proyek, mulai dari backend, web frontend, hingga aplikasi mobile. Saya juga memiliki pengalaman sebagai pengembang full stack dan mobile di berbagai perusahaan teknologi.
      <br/><br/>Selain aktif di dunia profesional, saya juga pernah berperan dalam berbagai organisasi terutama semasa kuliah S1, seperti menjadi Ketua Divisi Nalar dan Intelektual di HIMATIF UIN Sunan Gunung Djati serta Ketua Developer & Speakers di Google Developer Student Club. Saya bersyukur pernah meraih beberapa penghargaan, di antaranya <strong>Gold Medal IICYMS 2022</strong> dan <strong>Special Award dari MYSO</strong>.
      <br/><br/>Dengan keahlian di bidang pengembangan perangkat lunak, Internet of Things (IoT), dan (sedang mempelajari) keamanan siber, saya terus mengeksplorasi inovasi teknologi. Saat ini, saya berfokus pada pengembangan solusi berbasis blockchain untuk pengelolaan identitas digital yang lebih aman dan efisien, sambil terus belajar dan berkontribusi dalam dunia teknologi.
		</p>
	</div>
</PageLayout>
